@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos-container {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
  }
  
  
  
  .logos-container:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }
  
  .logos-slide img {
    height: 6vw;
    margin: 0 2vw;
  }